* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    #0b0615 0%,
    #05020a 100%
  );
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
